@charset "ISO-8859-1";

*{
	
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: #d9e7fc;
}


h1 {
	color: #0D6EFD;
	align-items: center;
}

.cont {
	display: flex;
	flex-direction: column;
	background-color: black;
	text-align: center;
	justify-content: center;
	height: 12vh;
	margin-bottom: 3%;
}

.cont-2 {
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 5%;
}

.con2-1 {
	
	padding-right: 20vh;

}

.con2-2{

	text-align: center;
}

.h2 {
	padding-bottom: 50px;
}

.col-12 {
	margin-top: 2vh;
}

.form-control {
	width: 100%;
	padding-left: 50;
}

.form-select{
		width: 90vh;
		padding-left: 50;
}

.mainCont{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.tableMain{
	padding-left: 10%;
	padding-right: 10%;
}

.table-heading{
	padding: 5vh;
}





















